body {
    overflow-x:hidden;
    font-family: "Roboto Slab","Helvetica Neue", Helvetica, Arial,sans-serif;
}


.navbar-default {
    border-color: transparent;
    background-color: #222;

}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica, Arial, cursive;
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #D31D08 ;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #D31D08;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: white;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 5px 0;
        border: 0;
        background-color: solid;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}


header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(MSF1.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}    

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 30px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 55px;
        font-weight: 700;
        line-height: 75px;
    }
    
}

#about {
    text-align: center; background-color: #FFFFFF; padding: 20px; margin-top: 0px; color: black;
}

#support {
    background-color: #F7F7F7; padding: 20px; margin-top: 0px; color: black;
}

.news {
    text-align: center; background-color: white; padding: 20px; margin-top: 0px; color: black;
}

.ourwork {
     text-align: center; background-color: #F7F7F7; padding: 20px; margin-top: 0px; color: black;
}

#ws {
    background-color: white; padding: 20px; margin-top: 1px; text-indent: 20px; padding-left: 20px; 
}

.color {
    color: #D31D08;
}

.text {
     padding-left:20px;  padding-right: 20px; margin-left: 20px; margin-right:20px;
}

#pic {
    float: left; 
}

#content {
    display:inline;
}

#picture {
    float: left;
    margin-left: 20px;
}

.footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;	 	 
}

#support-img3 p {
    display: inline;
    padding: 15px 0px;
}

.service-heading {
    color: #D31D08;
    text-align: center;
    padding-top: 10px
}

#donate {
    padding: 15px;
    display: inline;
    text-align: center;
}

.donate-button {
    background-color: white;
}

