
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
}

li {
    float: left;
}

a {
    display: block;
    width: 60px;
    background-color: white;
}
.background {
    background-image: url(MSF2.jpg); 
    color: white;
    background-repeat: no-repeat;
    background-size:cover;
    background-width: 100%;
    background-height: 50%;
    padding-bottom: 54.69%;
}

.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
.header{
    margin-bottom:-25px;
    color: white;
}

.navbar-wrapper {
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index:20;
}
